.navbar-brand {
    font-size: 12px;
}
.navbar-default.affix .navbar-header .navbar-brand {
    font-size: 12px;
}
.navbar-default .nav>li>a:focus {
    font-size: 16px;
}
.bg-primary {
    background-color: #F05F40;
}
.development, #resource {
    background-color: #45494d;
}
#resource {
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../img/table.jpg);
    opacity: 0.9;
}
#resource p, #resource a {
    opacity: 1;
}
li {
    line-height: 3;
}
#contact {
    padding: 15px 0;
}